---
import HeroImage from "@/components/content/hero-image.astro"
import ArticleTitle from "@/components/content/article-title.astro"
import SectionTitle from "@/components/content/section-title.astro"
import Paragraph from "@/components/content/paragraph.astro"
import Ulist from "@/components/content/ulist.astro"

export async function getStaticPaths() {
  const path = await import("path")
  const articles = await Astro.glob("../../articles/*.mdx")
  return articles.map(a => {
    return {
      params: {
        id: path.basename(a.file, ".mdx"),
      },
      props: {
        info: a.frontmatter,
        Content: a.Content,
      },
    }
  })
}

const { info, Content } = Astro.props
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{info.title}</title>
  </head>
  <body>
    <main>
      <header>
        <ArticleTitle text={info.title} />
        <HeroImage src={info.thumbnail} alt="" />
      </header>
      <Content components={{ h2: SectionTitle, p: Paragraph, ul: Ulist }} />
    </main>
    <style>
      body {
        font-family: "木漏れ日ゴシックP";
      }
    </style>
  </body>
</html>
