---
import Article from "@/components/content/article.astro"
import { parse } from "node-html-parser"

/* ルーティング ------------------------------------- */
export async function getStaticPaths() {
  const path = await import("path")
  const articles = await Astro.glob("../../articles/*.md")
  return articles.map(a => {
    return {
      params: {
        id: path.basename(a.file, ".md"),
      },
      props: {
        info: a.frontmatter,
        getHtml: a.compiledContent,
      },
    }
  })
}

/* ページ ---------------------------------------- */

const { info, getHtml } = Astro.props

const html = await getHtml()
const elems = parse(html).querySelectorAll("*")
const blocks = Array.from(elems).map(node => ({
  tag: node.rawTagName,
  content: node.structuredText,
}))
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{info.title}</title>
  </head>
  <body>
    <Article title={info.title} blocks={blocks} />
    <style>
      body {
        font-family: "木漏れ日ゴシックP";
      }
    </style>
  </body>
</html>
