---
interface Props {
  text: string
}

const { text, ...props } = Astro.props
---

<h1 {...props}>{text}</h1>

<style>
  h1 {
    margin: 0 0 20px 0;
    font-size: 1.875rem;
    line-height: 1.5;
  }
</style>
