---
const title = Astro.props.title
const links = [
  { href: "/", label: "トップ" },
  { href: "/about", label: "アバウト" },
  { href: "/contact", label: "お問合せ" },
]
---

<nav class="header">
  <h1>{title}</h1>
  <ul class="links">
    {
      links.map(item => (
        <li>
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .header {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  .links {
    display: flex;
    gap: 12px;
    list-style: none;
  }
</style>
