---
const title = Astro.props.title
---

<nav class="header">
  <h1>{title}</h1>
</nav>

<style>
  .header {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
</style>
